<footer class="footer">
    <p class="footer_text">Vamos conversar?</p>
    <div class="footer_email">
        <a href="mailto:andresa.ifba@gmail.com">andresa.ifba@gmail.com</a>
    </div>
    <div class="footer_icons">
        <a class="" href="https://www.linkedin.com/in/andresa-fernandes-9271ba1ba/" target="_blank"
            rel="noopener noreferrer">
            <img loading="lazy" src="\assets\icons\linkedin.png" alt="ícone logo do linkedin" priority>
        </a>

        <a href="https://github.com/Andresa43" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" src="\assets\icons\github.png" alt="ícone logo do github" priority>
        </a>

        <a href="https://youtube.com/@andresafernandes7585?si=gnjtIPJWi3wIRr53" target="_blank"
            rel="noopener noreferrer">
            <img loading="lazy" src="\assets\icons\youtube.png" alt="ícone logo do youtube" priority>
        </a>
    </div>
</footer>